body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

main{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

#color-palette{
    text-align: center;

}

.color{
        border: 1px solid black;
        width: 35px;
        height: 35px;
        display: inline-block;
        
}

